# Server Configuration
PORT=7145
NODE_ENV=development

# Database
REDIS_URL=

# Security
JWT_SECRET=
ENCRYPTION_KEY=your_encryption_key
FRONTEND_URL=https://terminus.enjoys.in,https://editor.enjoys.in,http://localhost:5173,https://localhost:5174
#FRONTEND_URL=https://terminus.enjoys.in
TERMINAL_PASSWORD=
GEMINI_API_KEY=
MISTRAL_API_KEY=l
GROQ_API_KEY=
OPEN_ROUTER_KEY=
NVIDIA_API_KEY=